Handling of If-Match: * is not RFC compliant

The documentation says if we omit `If-Match` header for WebDAV `PUT` method, it defaults to `*`.
https://personium.io/docs/en/apiref/current/312_Register_and_Update_WebDAV.html

This is not compliant to RFC 7232:

> If the field-value is "*", the condition is false if the origin server does not have a current representation for the target resource.

https://tools.ietf.org/html/rfc7232#section-3.1

Omitting `If-Match` header and giving `If-Match` header with the value `*` must behave differently.

I have not checked actual behavior. Is this just a error of documentation, or bug of actual implementation?


Thank you for raising this issue.
When personium project started in 2012, RFC7232 did not exist. So early codes don't comply with it. We think it should be compliant to RFC as you commented. Now I'll check the RFC and the current implementation.

It is also specified in RFC 2616, issued at June 1999 and obsoleted by RFC 7232 later.

> if "*" is given and no current entity exists, the server MUST NOT perform the requested method, and MUST return a 412 (Precondition Failed) response.

https://tools.ietf.org/html/rfc2616#section-14.24

RFC 2068, which is predecessor of RFC 2616 and released at January 1997, also states the same behavior.

https://tools.ietf.org/html/rfc2068#section-14.25

So, Personium had been violating the RFC from beginning.

It is a shame we had been violating RFC2616 from the beginning. Thank you for pointing it out and give us a chance to stop this situation. 

Could you help us a bit more to make things clearer?   My understanding is the following: 

-----------
### Conditions

When the following 3 conditions are met:

1. PUT method
1. Resource does not exist
1. If-Match Header value is "*"

### Current Personium:

- accepts the request and create the resource.

### To make it RFC compliant, it should:

- return 412 error.

-----------

Is my understanding correct?

> Is my understanding correct?

Yes. It must return 412.

`DELETE` also accepts `If-Match` header:
https://personium.io/docs/en/apiref/current/314_Delete_WebDAV.html

In my opinion, the priority of this bug isn't high. Practical applications won't pass `If-Match: *`, that is, “update/delete the file if it exists but I don't care its version”. 
I thought it is an error of documentation when I file this issue.

Moved to 1.7.21 for the issue personium/personium-engine#119.